body {
  font-family: 'Raleway', sans-serif;
}
section {
  padding: 50px 0;
}
.navbar,.navbar-brand {
  background-color: #fff;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-header > .navbar-brand {
  color: #3742fa;
  font-weight: bold;
}
.nav.navbar-nav li a {
  color: #182C61;
  font-weight: bold;
}
.nav.navbar-nav li a:hover {
  color: #3742fa;
}
.navbar-btn {
  border: 1px solid #3742fa;
  color: #3742fa;
  font-weight: bold;
}
.navbar-btn:hover {
  background-color: #3742fa;
  color: #fff;
}

/*WELCOME*/
.bg-image{
  background-image: url('https://cdn.dribbble.com/users/533687/screenshots/4570073/attachments/1033538/digital-ocean-droplet-lunamik-mikepiechota.jpg');
  background-size: cover;
  color: #fff;
}

.welcome-to{
  font-size: 60px;
  font-weight: bold;
}

/*WELCOME FORM*/
.green-btn{
  background-color: #26de81;
  border-color: #26de81;
  color: #fff;
}

.google-btn{
  color: #596275;
}

.deploy{
  font-size: 60px;
  font-weight: bold;
  color: #182C61;
}

h6 a{
  text-decoration: underline;
}

/*SECTION ICONS*/
h5{
  color: #a4b0be;
}

.row{
  list-style: none;
}
.gray{
  background-color: #dfe4ea;
}

img {
  width: 100%;
  height: auto;
  border: 0;
}
/*SECTION WHITE*/
.deploy2{
  font-size: 30px;
  font-weight: bold;
  color: #182C61;
}

p{
  color: #2f3542;
  font-size: 20px;
}

h4{
  color: #182C61;
  font-weight: bold;
}

/*SECTION SERVICE*/
.bg-image2{
  background-image: url('http://www.nightearth.com/images/high-resolution-maps/night-map-earth-normal.jpg');
  background-size: cover;
  color: #fff;
}

.dati > h1{
  font-size: 20px;
}

/*SECTION DEVELOPMENT*/
h2 {
  color: #fff;
}


/*FOOTER*/
.footer-column{
  color: #fff;
  background-color: #130f40;
}
.logo2 {
  color: #fff;
}

/*DEVICE XS*/

@media (max-width: 768px) {
* {
  margin: 0;
  padding: 0;
}
section,
footer {
  padding: 20px 0;
}
}
/*DEVICES SM*/
@media all and (min-width: 768px) and (max-width: 992px) {
ul li img{
}
}
/*DEVICES MD */
@media all and (min-width: 992px) and (max-width: 1200px) {
}
/*DEVICES LG*/
@media (min-width: 1220px) {
}
