body {
  font-family: 'Raleway', sans-serif;
}

section {
  padding: 50px 0;
}

.navbar,.navbar-brand {
  background-color: #fff;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

.navbar-header > .navbar-brand {
  color: #3742fa;
  font-weight: bold;
}
.nav .navbar-nav li a {
  color: #182C61;
  font-weight: bold;
}
.nav .navbar-nav li a:hover {
  color: #3742fa;
}
.navbar-btn {
  border: 1px solid #3742fa;
  color: #3742fa;
  font-weight: bold;
  margin-right: 35px;
}
.navbar-btn:hover {
  background-color: #3742fa;
  color: #fff;
}

/*WELCOME*/
.bg-image{
  background-image: url('https://cdn.dribbble.com/users/533687/screenshots/4570073/attachments/1033538/digital-ocean-droplet-lunamik-mikepiechota.jpg');
  background-size: cover;
  color: #fff;
}

.welcome-to{
  font-size: 60px;
  font-weight: bold;
  padding-top: 50px;
}

/*WELCOME FORM*/
.green-btn{
  background-color: #26de81;
  border-color: #26de81;
  color: #fff;
}

.google-btn{
  color: #596275;
}

.deploy{
  font-size: 60px;
  font-weight: bold;
  color: #182C61;
}

h6 a{
  text-decoration: underline;
}

/*SECTION ICONS*/
h5{
  color: #a4b0be;
}

.row{
  list-style: none;
}
.gray{
  background-color: #dfe4ea;
}

.icons{
  width: 150px;
  height: 100px;
}
/*SECTION WHITE*/
.deploy2{
  font-size: 30px;
  font-weight: bold;
  color: #182C61;
}

p{
  color: #2f3542;
  font-size: 20px;
}

h4{
  color: #182C61;
  font-weight: bold;
}

/*SECTION SERVICE*/
.bg-image2{
  background-image: url('http://www.nightearth.com/images/high-resolution-maps/night-map-earth-normal.jpg');
  background-size: cover;
  color: #fff;
}

.dati > h1{
  font-size: 20px;
}

/*SECTION DEVELOPMENT*/
h2 {
  color: #fff;
}

.img-development, .img-designed{
  width: 65%;
  height: 500px;
  margin-top: 30px;
  border-radius: 5px;
  padding-bottom: 30px;
}
/*FOOTER*/
.footer-column{
  color: #fff;
  background-color: #130f40;
}
.logo2 {
  color: #fff;
}

/*DEVICE XS - phones*/
@media all and (max-width: 768px) {

  body{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .deploy{
    color: #fff;
  }
  .img-development,
  .img-designed{
    width: 100%;
    height: auto;
  }

  section, footer{
    padding: 50px 0;
  }

  header{
  height: 100%;
  margin: auto;
  }

  header .after-nav {
  display: none;
  }

  .col-md-2, .col-md-4, .col-xs-12{
    text-align: center;
  }
  .row{
    margin-right: 0;
  }
}

/*DEVICES SM - tablets*/
@media screen and (min-width: 768px) and (max-width: 992px) {

  .row{
    margin-right: 0;
  }
  .img-development,
  .img-designed{
    width: 100%;
    height: auto;
  }
}
/*DEVICES MD - desktops*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
}

/*DEVICES LG - large desktops*/
@media screen and (max-width: 1220px) {
  .container{
    width: 100%;
    margin: 0 auto;
  }
}
